.search {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: auto;
  background-color: white;
  z-index: 101;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.close {
  border: 2px solid black;
  padding: 0 4px;
  border-radius: 8px;
}

.showinfo {
  margin-top: 15px;
}

.showinfo h2 {
  margin-bottom: 15px;
  color: #333;
}

.showinfo p {
  margin: 5px 0;
  font-size: 16px;
  line-height: 1.5;
}

.product-image {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
  display: block;
  margin-top: 5px;
}

.newbutton {
  /* position: relative; */
  /* display: block; */
  left: 39%;
  width: 120px;
  /* top: 90%;; */
  /* background-color: pink; */
  border: 2px black solid;
}
